Repository sauropod-io/sauropod: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy-fix, clang-format

.pre-commit-config.yaml:

exclude: |
  (?x)^(
      .*\.vale/.*|
  )$
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        language: system
        types: [rust]
        entry: cargo
        args: ["fmt", "--"]
      - id: cargo-clippy-fix
        name: cargo clippy --fix
        language: system
        types: [rust]
        entry: cargo
        args:
          [
            "clippy",
            "--fix",
            "--allow-dirty",
            "--allow-staged",
            "--workspace",
            "--",
            "--deny=clippy::all",
          ]
        pass_filenames: false
      - id: clang-format
        name: clang-format
        language: system
        types: [c++]
        entry: clang-format
        args: ["-i"]

create release infrastructure
  .cargo/config.toml
  .dockerignore
  .github/actions/set-up-docker/action.yml
  .github/actions/set-up-rust/action.yml
  .github/renovate.json
  .github/workflows/build-release.yml
  .github/workflows/image-promotion.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  bindings/llama-cpp-sys/build.rs
  bindings/onnxruntime-sys/Cargo.toml
  bindings/onnxruntime-sys/build.rs
  crates/device-discovery/src/lib.rs
  crates/tts/Cargo.toml
  docker/Dockerfile.cuda
  docker/Dockerfile.vulkan
  requirements-dev.txt
  tools/create-release-tag/Cargo.toml
  tools/create-release-tag/LICENSE
  tools/create-release-tag/src/main.rs
  tools/generate-dockerfiles/Cargo.toml
  tools/generate-dockerfiles/LICENSE
  tools/generate-dockerfiles/src/lib.rs
  tools/generate-dockerfiles/src/main.rs
  tools/update-latest-image/Cargo.toml
  tools/update-latest-image/LICENSE
  tools/update-latest-image/src/main.rs
Due: cargo-fmt, cargo-clippy-fix

fix: device selection
  bindings/llama-cpp/src/lib.rs
Due: cargo-fmt, cargo-clippy-fix

reduce the size of the CUDA build image
  .github/workflows/build-release.yml
  Makefile
  docker/Dockerfile.cuda
Due: none

document more dependencies
  README.md
Due: none

fix Onnx Runtime download for Aarch64
  bindings/onnxruntime-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

Update dependancy instructions for debian based distributions
  README.md
Due: none

more dependency documentation improvements
  README.md
Due: none

Build cuda for native and make Vulkan actually optional
  README.md
  bindings/llama-cpp-sys/build.rs
  crates/inference-server/Cargo.toml
Due: cargo-fmt, cargo-clippy-fix

optimize tokenizers in debug build
  Cargo.lock
  Cargo.toml
Due: none

feat: update model source format in config files
  Cargo.lock
  README.md
  bindings/llama-cpp/src/lib.rs
  crates/config/src/lib.rs
  crates/config/src/model_source.rs
  crates/gguf/src/lib.rs
  crates/huggingface/Cargo.toml
  crates/huggingface/src/lib.rs
  crates/inference-engine-api/src/lib.rs
  crates/inference-engine/src/lib.rs
  crates/inference-http/src/lib.rs
  crates/inference-server/Cargo.toml
  crates/model-loading/src/lib.rs
  crates/stt/Cargo.toml
  crates/stt/src/lib.rs
  crates/tts/Cargo.toml
  crates/tts/src/kokoro/mod.rs
  crates/tts/src/kokoro/tokenizer.rs
  crates/tts/src/orpheus/mod.rs
  crates/vad/Cargo.toml
  crates/vad/src/lib.rs
  examples/gemma/config.toml
Due: cargo-fmt, cargo-clippy-fix

feat: multi-modal input support
  Cargo.lock
  Cargo.toml
  Makefile
  bindings/llama-cpp-sys/Cargo.toml
  bindings/llama-cpp-sys/build.rs
  bindings/llama-cpp-sys/wrapper.hh
  bindings/llama-cpp/Cargo.toml
  bindings/llama-cpp/src/inference_thread.rs
  bindings/llama-cpp/src/lib.rs
  bindings/llama-cpp/src/mtmd.rs
  crates/config/src/model_source.rs
  crates/gguf/Cargo.toml
  crates/huggingface/src/lib.rs
  crates/inference-engine-api/Cargo.toml
  crates/inference-engine-api/src/lib.rs
  crates/inference-engine/Cargo.toml
  crates/inference-engine/src/lib.rs
  crates/inference-server/Cargo.toml
  crates/model-loading/src/lib.rs
  crates/openai-api/src/generated.rs
  crates/openai-api/src/helpers.rs
  crates/prompt-templates/Cargo.toml
  crates/prompt-templates/src/lib.rs
  crates/stt/src/lib.rs
  crates/stt/src/tests.rs
  crates/tts/src/orpheus/mod.rs
  crates/vad/src/lib.rs
  crates/vad/src/tests.rs
  examples/.gitignore
  examples/gemma/query.py
  examples/gemma/query_with_image.py
Due: cargo-fmt, cargo-clippy-fix, clang-format

add SmolVLM2 example
  crates/config/src/lib.rs
  crates/inference-engine/src/lib.rs
  crates/model-loading/src/lib.rs
  crates/prompt-templates/src/lib.rs
  examples/robot/README.md
  examples/robot/config.toml
  examples/robot/query_with_image.py
Due: cargo-fmt, cargo-clippy-fix

fix: place Onnx Runtime shared libraries in top level output
  .cargo/config.toml
  .github/workflows/build-release.yml
  Makefile
  bindings/onnxruntime-sys/build.rs
  docker/Dockerfile.cuda
  docker/Dockerfile.vulkan
Due: cargo-fmt, cargo-clippy-fix

fix: target-cpu parsing in llama.cpp build
  bindings/llama-cpp-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

fix: use -mcpu on Aarch64
  bindings/llama-cpp-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

fix: build-release-binaries condition
  .github/workflows/build-release.yml
Due: none

fix: only install Vulkan tools on Linux
  .github/workflows/build-release.yml
Due: none

chore: make the release Makefile target public
  Makefile
Due: none

fix: don't use -executable in find
  Makefile
Due: none

fix: search for CUDA installation
  README.md
  bindings/llama-cpp-sys/build.rs
  docker/Dockerfile.cuda
Due: cargo-fmt, cargo-clippy-fix

fix: add stubs to the CUDA library path
  bindings/llama-cpp-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

feat: add espeak-ng hint to tokenizer error
  crates/tts/src/kokoro/mod.rs
Due: cargo-fmt, cargo-clippy-fix

add MacOS debug worfklow
  .github/workflows/macos-debug.yml
Due: none

fix: MacOS build
  Cargo.lock
  Makefile
  bindings/llama-cpp-sys/build.rs
  bindings/onnxruntime-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

fix: allow missing TensorRT provider for Aarch CUDA
  docker/Dockerfile.cuda
Due: none

fix: add build-essential to Ubuntu dependency list
  README.md
Due: none

docs: document example commands
  examples/gemma/README.md
  examples/gemma/voice.py
Due: none

chore: clippy fix
  bindings/llama-cpp-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

feat: add uv script headers for dependency management
  examples/gemma/README.md
  examples/gemma/query.py
  examples/gemma/voice.py
  examples/robot/query_with_image.py
Due: none

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

docs: clean up documentation structure
  README.md
  docs/Configuration.md
Due: none

docs: add debian command to install Rust
  README.md
Due: none

docs: add Arch Linux dependencies list
  README.md
Due: none

docs: add Mold linker docs
  CONTRIBUTING.md
Due: none

fix: include library deps in MacOS release
  .github/workflows/build-release.yml
Due: none

fix: separate CUDA and Vulkan images in CI
  .github/workflows/build-release.yml
Due: none

Add native cuda arch detection support for older cmake versions
  bindings/llama-cpp-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

Add support for multiple GPUs
  bindings/llama-cpp-sys/build.rs
Due: cargo-fmt, cargo-clippy-fix

docs: remove glslc from dependency list for CUDA
  README.md
Due: none
